node_modules

# Output
.output
.vercel
.netlify
/.svelte-kit
/build
/src/lib/paraglide/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.turnstile.tmp.json

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Playwright
test-results
playwright-report
